@model List<Domain.Models.ExplorePost>
@{
    ViewData["Title"] = "Index";
}




<h3>Explore posts list:</h3>

    <table border="1" cellpadding="2" cellspacing="2">
        <tr>
            <th>Id</th>
            <th>Text</th>
            <th>User</th>
            <th>Hobbies</th>
            <th>Likes: count, user</th>
            <th>Comments: count, user - text</th>



        </tr>
        @foreach (var post in Model)
        {
        <tr>
            <td>@post.Id</td>
            <td>@post.Text</td>
            <td>@post.User.UserName</td>
            <td>
                @foreach (var hobby in post.Hobbies)
                {

                    <span>@hobby.Name;</span>
                }
            </td>

            <td>
                <div>@post.ExploreLikes.Count</div>
                <div>
                    @foreach (var like in post.ExploreLikes)
                    {

                        <span>@like.User.FirstName;</span>
                    }
                </div>
            </td>

            <td>
                <div>@post.ExploreComments.Count</div>
                <div>
                    @foreach (var comment in post.ExploreComments)
                    {

                        <span>@comment.User.FirstName - @comment.Text;</span>
                    }
                </div>
            </td>
        </tr>
        }
    </table>
