<style>
    body {
        background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(/images/background/skiing2.jpg);
    }

    .user-pic {
        max-height: 40px;
        max-width: 40px;
        vertical-align: middle;
    }

    .request-action-img {
        max-height: 20px;
        max-width: 20px;
    }

    .footer button[type="submit"] {
        padding: 0;
        border: none;
        background: inherit;
        cursor: pointer;
    }

    table {
        margin: 0;
        width: 100%;
    }

    td {
        padding: 5px;
    }

    tr {
        padding: 5px 0;
    }

    .hobbies-list::-webkit-scrollbar {
        display: none;
    }

    .users-list {
        max-height: 300px;
        overflow: auto;
        margin: 5px 0;
    }

    .canvas button[type="submit"] {
        padding: 0;
        padding-top: 3px;
        border: none;
        background: inherit;
        cursor: pointer;
    }

    .canvas input[type="submit"] {
        padding: 10px;
        border-radius: 30px;
        width: 85%;
        padding: 10px 30px;
        border: none;
        background: linear-gradient(to right, #ff105f, #ffaf06);
        cursor: pointer;
        margin: 20px auto;
        display: block;
    }

    .remove-img {
        margin-top: 3px;
    }

    .input {
        margin: 10px auto;
        display: block;
        width: 95%;
    }

    textarea {
        resize: none;
        border-radius: 15px;
        padding: 10px;
    }

    input[type="submit"] {
        border-radius: 30px;
        padding: 10px 30px;
        border: none;
        background: linear-gradient(to right, #ff105f, #ffaf06);
        cursor: pointer;
        display: block;
    }

    .hobbies-list::-webkit-scrollbar {
        display: none;
    }

    .hobbies-list {
        border-radius: 15px;
        max-height: 130px;
        overflow: auto;
    }

    .canvas {
        padding: 20px;
        border: solid black 1px;
        background-color: rgba(255, 255, 255, 1);
        border-radius: 15px;
        transition: .5s;
        margin: 10px auto;
        text-align: center;
    }
</style>


@model Domain.Models.DTO.FriendsDTO
@{
    ViewData["Title"] = "Friends";
}


<div class="content">
    <div class="canvas">
        @if (Model.Friends.Count != 0)
        {
            <h3>Friends list:</h3>
            <form asp-action="RemoveFriend" method="post">
                <div class="users-list">
                    <table>
                        @foreach (var user in Model.Friends)
                        {
                            <tr>
                                <td width="60"><img src="@user.PhotoPath" alt="User pic" class="user-pic" /></td>
                                <td align="left">@user.UserName</td>

                                <td width="30">
                                    <button type="submit" name="userId" value="@user.Id">
                                        <img class="request-action-img" src="~/images/delete.png" />
                                    </button>
                                </td>
                            </tr>
                        }
                    </table>
                </div>
            </form>
        }
        else
        {
            <h3>Friends list is empty</h3>
        }
    </div>

    <div class="canvas">
        @if (Model.RequestsToUser.Count != 0)
        {
            <h3>Users to add:</h3>
            <form asp-action="FriendRequests" method="post">
                <div class="users-list">
                    <table>                 
                        @foreach (var user in Model.RequestsToUser)
                        {
                            <tr>
                                <td width="60"><img src="@user.PhotoPath" alt="user" class="user-pic" /></td>
                                <td align="left">@user.UserName</td>

                                <td width="30">
                                    <button type="submit" name="acceptUserId" value="@user.Id">
                                        <img src="~/images/accept.png" alt="accept" class="request-action-img" />
                                    </button> 
                                </td>
                                 <td width="30">    
                                    <button type="submit" name="declineUserId" value="@user.Id">
                                        <img src="~/images/decline.png" alt="decline" class="request-action-img" />
                                    </button>
                                </td>
                            </tr>
                        }
                    </table>
                </div>
            </form>
        }
        else
        {
            <h3>Friend requests list is empty</h3>
        }
    </div>

    <div class="canvas">
        @if (Model.RequestsFromUser.Count != 0)
        {
            <h3>Requests from you to users:</h3>
            <form asp-action="CancelRequestFromUser" method="post">
                <div class="users-list">
                    <table>
                        @foreach (var user in Model.RequestsFromUser)
                        {
                            <tr>
                                <td width="60"><img src="@user.PhotoPath" alt="User pic" class="user-pic" /></td>
                                <td align="left">@user.UserName</td>
                                <td width="30">
                                    <button type="submit" name="userId" value="@user.Id">
                                        <img class="request-action-img" src="~/images/delete.png" />
                                    </button>
                                </td>
                            </tr>
                        }
                    </table>
                </div>
            </form>
        }
        else
        {
            <h3>The user does not waiting to be added as a friend</h3>
        }
    </div>
</div>
