@model IEnumerable<Domain.Models.DTO.FriendsList>
@{
    ViewData["Title"] = "Friends";
}

<h1>Hi, @User.Identity.Name</h1>

<h3>Friend requests list:</h3>

<form asp-action="AcceptFriendRequest" method="post">

    <table border="2" cellpadding="2" cellspacing="2">
        <tr>
            <th>Id</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th></th>
        </tr>

        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Id</td>
                <td>@user.FirstName</td>
                <td>@user.LastName</td>
                <td>
                    <a class="btn btn-sm btn-primary" asp-action="AcceptFriendRequest" asp-route-id="@user.Id">Принять</a>
                    <button type="submit" class="btn btn-sm btn-danger" value="@user.Id">Принять</button>
                </td>

            </tr>
        }
    </table>
</form>