@model IEnumerable<Domain.Models.DTO.FriendsList>
@{
    ViewData["Title"] = "Friends";
}

<h1>Hi, @User.Identity.Name</h1>

<p>Friends list:</p>

<ul>
    @foreach (var user in Model)
    {
        @*<li>@user.MainUser.UserName, @user.FriendUser.UserName</li>*@
        <li>@user.Id, @user.FirstName, @user.LastName</li>
    }
</ul>