<style>
    body {
        background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(/images/background/skiing2.jpg);
    }

    .user-pic {
        max-height: 40px;
        max-width: 40px;
        vertical-align: middle;
        /* margin: 10px 10px 10px 0;*/
    }

    .request-action-img {
        max-height: 20px;
        max-width: 20px;
    }

    .footer button[type="submit"] {
        padding: 0;
        border: none;
        background: inherit;
        cursor: pointer;
    }

    table {
        margin: 0;
        width: 100%;
        /*border: 1px solid black;*/
    }

    td {
        padding: 5px;
        /* border: 1px solid black;*/
    }

    tr {
        padding: 5px 0;
    }

    .hobbies-list::-webkit-scrollbar {
        display: none;
    }




    .users-list {
        max-height: 300px;
        overflow: auto;
        margin: 5px 0;
    }





    .canvas button[type="submit"] {
        padding: 0;
        padding-top: 3px;
        border: none;
        background: inherit;
        cursor: pointer;
    }

    .canvas input[type="submit"] {
        padding: 10px;
        border-radius: 30px;
        width: 85%;
        padding: 10px 30px;
        border: none;
        background: linear-gradient(to right, #ff105f, #ffaf06);
        cursor: pointer;
        margin: 20px auto;
        display: block;
    }

    .remove-img {
        margin-top: 3px;
    }

    .input {
        margin: 10px auto;
        display: block;
        width: 95%;
    }


    textarea {
        resize: none;
        border-radius: 15px;
        padding: 10px;
    }

    input[type="submit"] {
        border-radius: 30px;
        padding: 10px 30px;
        border: none;
        background: linear-gradient(to right, #ff105f, #ffaf06);
        cursor: pointer;
        display: block;
    }


    .hobbies-list::-webkit-scrollbar {
        display: none;
    }

    .hobbies-list {
        border-radius: 15px;
        max-height: 130px;
        overflow: auto;
    }

    .canvas {
        padding: 20px;
        border: solid black 1px;
        background-color: rgba(255, 255, 255, 1);
        border-radius: 15px;
        transition: .5s;
        margin: 10px auto;
        text-align: center;
    }
</style>



@model List<Domain.Models.DTO.UsersList>
@{
    ViewData["Title"] = "Index";
}

<div class="content">
    <div class="canvas">
        <form asp-action="AddFriendRequest" method="get">
            <table>

                @foreach (var user in Model)
                {

                    <tr>
                        <td width="60"><img src="@user.PhotoPath" alt="User pic" class="user-pic" /></td>
                        <td align="left">@user.Username</td>
                        <td align="left">@user.Firstname @user.Lastname</td>
                        <td width="60">

                            <button type="submit" name="userId" value="@user.Id">
                                Add as friend
                            </button>
                        </td>
                    </tr>
                }
            </table>
        </form>

    </div>
</div>

