@model Domain.Models.DTO.UsersList

    <style>
        body {
            background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(/images/background/house1.jpg);
        }


        .content-body {
            padding: 10px;
            border: solid black 1px;
            text-align: center;
            background-color: rgba(255, 255, 255, 1);
            border-radius: 15px;
            transition: .5s;
            margin-bottom: 10px;
        }


        .content {
            position: relative;
            margin: 10px auto;
            width: 900px;
            border-radius: 15px;
            transition: .5s;
            overflow: hidden;
            height: 80vh;
            overflow: auto;
            /* Hide scrollbar for IE, Edge and Firefox */
            -ms-overflow-style: none; /* IE and Edge */
            /*scrollbar-width: none; /* Firefox */
        }
    </style>

    <div class="content">
        <div class="content-body">
            <p>Id: @Model.Id</p>
            <p>Email: @User.Identity.Name</p>
            <ul>
                <li>
                    <a asp-action="ChangePassword" asp-route-id='@Model.Id'>Сменить пароль</a>
                </li>
                <li>
                    <a asp-action="ChangePhoneNumber" asp-route-id='@Model.Id'>Сменить номер телефона</a>
                </li>

                <li>
                    <a asp-action="Telegram" asp-route-id='@Model.Id'>Telegram</a>
                </li>
                <li>
                    <a asp-action="Viber" asp-route-id='@Model.Id'>Viber</a>
                </li>
                <li>
                    <a asp-action="WhatsApp" asp-route-id='@Model.Id'>WhatsApp</a>
                </li>
                <li>
                    <a asp-action="Location" asp-route-id='@Model.Id'>Location</a>
                </li>
            </ul>
        </div>     
    </div>

