@model List<Domain.Models.Location>
@{
    ViewBag.Title = "Изменение локации";
}


<script>

    let map;

    //var userLocation = new google.maps.LatLng(50.0287802, 36.3281018);


    function initMap() {
        var userLocation = new google.maps.LatLng(@Model[0].Latitude,@Model[0].Longitude);
        //var mapOptions = {
        //    center: userLocation,
        //    zoom: 15,
        //    mapTypeId: google.maps.MapTypeId.ROADMAP
        //};
        map = new google.maps.Map(document.getElementById("map"), {
            //center: { lat: 49.0734487, lng: 33.2565712 },
            //center: { lat: @Model[0].Latitude, lng: @Model[0].Longitude},
            center: userLocation,
            zoom: 15,
        });

        marker = new google.maps.Marker({
            //position: { lat: @Model[0].Latitude, lng: @Model[0].Longitude},
            position: userLocation,
            map,
            title: "Your location",
            animation: google.maps.Animation.BOUNCE,
        });





    }

</script>


<table border="1" cellpadding="1" cellspacing="1">
    <th>Latitude</th>
    <th>Longitude</th>
    <th>Address</th>
    @foreach (var location in @Model)
    {
        <tr>
            <td>@location.Latitude</td>
            <td>@location.Longitude</td>
            <td>@location.Name</td>
        </tr>
    }
</table>


<input style="margin: 10px;" type="submit" id="locationButton"/>
<div style="margin: 10px; height: 60%; width:60%; position:absolute" id="map"></div>
<form id="form1" asp-action="Location" method="post">
    <input id="latitude" type="hidden" name="latitude" value="" />
    <input id="longitude" type="hidden" name="longitude" value="" />
</form>

<script src="https://maps.googleapis.com/maps/api/js?callback=initMap" async></script>

